﻿<dl class="dl-horizontal">
    <dt>Title</dt>
    <dd><a href="{{ context.project.url }}">{{ context.project.title }}</a></dd>

    <dt>Location</dt>
    <dd>{{ context.project.country }}</dd>

    <dt>Category</dt>
    <dd>{{ context.project.category }}</dd>

    <dt>Percentage of funding</dt>
    <dd>{{ context.project.money_percent }}</dd>

    <dt>Funding expected</dt>
    <dd>{{ context.project.money_goal}} {{ context.project.currency }}</dd>

    <dt>Funding received</dt>
    <dd>{{ context.project.money_pledged }} {{ context.project.currency }}</dd>

    <dt>Images</dt>
    <dd>{{ context.project.nb_images }}</dd>

    <dt>Supporters</dt>
    <dd>{{ context.project.nb_supporters }}</dd>

    <dt>Updates</dt>
    <dd>{{ context.project.nb_updates }}</dd>

    <dt>Comments</dt>
    <dd>{{ context.project.nb_comments }}</dd>

    <dt>Description</dt>
    <dd>{{ context.project.fulldesc }}.... <a href="{{ context.project.url }}">Click here to read more</a></dd>
</dl>