﻿{% for perk in context.perks %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>#{{ forloop.counter }}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID number</dt>
            <dd>{{ perk.id_perk }}</dd>

            <dt>Price</dt>
            <dd>{{ perk.price }} {{ context.project.currency }}</dd>

            <dt>Items sold</dt>
            <dd>{{ perk.nb_sold }}</dd>

            <dt>Items maximum</dt>
            <dd>{{ perk.nb_max }}</dd>
        </dl>
    </div>
</div>
{% endfor %}