﻿<ul class="nav nav-tabs">
    <li class="active"><a href="#project" data-toggle="tab" aria-expanded="true">Project</a></li>
    <li><a href="#authors" data-toggle="tab" >Authors</a></li>
    <li><a href="#perks" data-toggle="tab" >Perks</a></li>
</ul>
<div id="tabs" class="tab-content">
    <div class="tab-pane fade active in" id="project">
        {% include "digbata/project_view/content_tab_project.html" %}
    </div>
    <div class="tab-pane fade" id="authors">
        {% include "digbata/project_view/content_tab_authors.html" %}
    </div>
    <div class="tab-pane fade" id="perks">
        {% include "digbata/project_view/content_tab_perks.html" %}
    </div>
</div>