﻿{% for author in context.authors %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>#{{ forloop.counter }}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><a href="{{ author.url_profile }}">{{ author.username }}</a></dd>

            <dt>ID number</dt>
            <dd>{{ author.id_author }}</dd>

            <dt>Campaigns created</dt>
            <dd>{{ author.nb_campaigns_cre }}</dd>

            <dt>Campaigns supported</dt>
            <dd>{{ author.nb_campaigns_sup }}</dd>
        </dl>
    </div>
</div>
{% endfor %}