{% extends 'digbata/base.html' %}

{% block title %}{{ context.project.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-md-3">
            {% include "digbata/project_view/sidebar.html" %}
        </div>
        <div id="content" class="col-md-7">
            {% include "digbata/project_view/content.html" %}
        </div>
    </div>
</div>
{% endblock content %}