﻿<fieldset>
    <legend>Statistics</legend>
    <dl class="dl-horizontal">
        <dt><u>Project</u></dt>
        <dd><a href="{{ context.project.url }}">{{ context.project.id_project }}</a></dd>

        <dt>Success</dt>
        <dd>{{ context.summary.score_success }}</dd>

        <dt>Finished</dt>
        <dd>{{ context.summary.is_finished }}</dd>

        <dt>Title</dt>
        <dd>{{ context.summary.nb_chr_title }} characters</dd>

        <dt>Summary</dt>
        <dd>{{ context.summary.nb_chr_summary }} characters</dd>

        <dt>Description</dt>
        <dd>{{ context.summary.nb_chr_description }} characters</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt><u>Authors</u></dt>
        <dd>{{ context.summary.nb_authors }}</dd>

        <dt>Campaigns created</dt>
        <dd>{{ context.summary.avg_campaigns_cre }} (average)</dd>

        <dt>Campaigns supported</dt>
        <dd>{{ context.summary.avg_campaigns_sup }} (average)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt><u>Perks</u></dt>
        <dd>{{ context.summary.nb_perks }}</dd>

        <dt>Price</dt>
        <dd>{{ context.summary.avg_price }} {{ context.project.currency }} (average)</dd>

        <dt>Sold</dt>
        <dd>{{ context.summary.avg_nb_sold }} (average)</dd>

        <dt>Available</dt>
        <dd>{{ context.summary.avg_nb_available }} (average)</dd>
    </dl>

    {% if context.related %}
    <p>
      <legend>Suggested projects :</legend>
      <ul>
        {% for sug in context.related %}
        <li><a href="../{{sug.id_source_related}}/{{sug.id_project_related}}">{{ sug.title_related }}</a></li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}
</fieldset>
