/* HEADER + FOOTER */
body > header, body > footer {
    padding: 40px;
    text-align: center;
    background: #ECF0F1;
}
body > header h1 {
    margin: 0;
}
body > header h2, body > footer p {
    font-size: 1.4em;
}

/* MAIN CONTENT */
#sidebar, #content {
    margin: 80px 50px;
    padding: 25px;
    background: #ECF0F1;
    border-radius: 10px;
}

.dl-horizontal dt {
    text-align: left;
    margin-bottom: 3px;
}

/* CONTENT */
.tab-pane {
    background: white;
    padding: 10px;
    border-radius: 0 10px 10px;
}

.nav-tabs {
    font-weight: bold;
}

#tabs .dl-horizontal dt {
    margin-bottom: 20px;
}
