﻿{% if summaries and projects %}
{% load staticfiles %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Summary</th>
      <th>Status</th>
      <th>Prediction</th>
      <th>Category</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>

    {% for i in tuple_projects %}
    <tr>
      <td>
        {% if i.0.id_source == 1 %}
          Kickstarter
        {% elif i.0.id_source == 2 %}
          IndieGogo
        {% else %}
          Pozible
        {% endif %}
      </td>
      <td>
        <a href="project/{{i.0.id_source}}/{{i.0.id_project_id}}">
          {{ i.1.title }}
        </a>
      </td>
      <td>{{ i.1.summary }}</td>
      <td>
          {% if i.0.is_finished %}
            <img alt="finished" src="{% static 'images/lock.png' %}" />
          {% else %}
            <img alt="not_finished" src="{% static 'images/refresh.png' %}" />
          {% endif %}
      </td>
      <td>
          {% if i.0.score_success %}
          <img alt="success" src="{% static 'images/tick.png' %}" />
          {% else %}
          <img alt="unsuccessful" src="{% static 'images/cross.png' %}" />
          {% endif %}
      </td>
      <td>{{ i.1.category }}</td>
      <td>{{ i.1.country }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
    {% if summaries.has_previous %} 
      <a href="?page={{ summaries.previous_page_number }}{{ options.params }}">&lt Previous | </a>
    {% endif %}
    
    Page {{ summaries.number }} of {{ summaries.paginator.num_pages }}
    {% if summaries.has_next%} 
      <a href="?page={{ summaries.next_page_number }}{{ options.params }}"> | Next &gt</a>
    {% endif %}
</p>


{% endif %}
