{% extends 'digbata/base.html' %}

{% block title %}Project list {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-md-3">
            {% include "digbata/project_list/sidebar.html" %}
        </div>
        <div id="content"class="col-md-7">
            {% include "digbata/project_list/content.html" %}
        </div>
    </div>
</div>
{% endblock content %}
