{% load staticfiles %}
<fieldset>
    <legend>Download Datasets</legend>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% static 'doc/kickstarter.json' %}" class="btn btn-primary">Kickstarter</a>
            <a href="{% static 'doc/indiegogo.zip' %}" class="btn btn-primary">Indiegogo</a>
            <a href="{% static 'doc/pozible.json' %}" class="btn btn-primary">Pozible</a>
        </div>
    </div>
</fieldset>

<form action="{% url 'project_list' %}" method="get" class="form-horizontal">
    <fieldset>
        <legend>Filters</legend>
        <div class="form-group">
            <label for="source" class="col-lg-2 control-label">Source</label>
            <div class="col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="source" value="1"
                               {% if 1 in options.sources %}
                               checked=true
                               {% endif %} />Kickstarter
                    </label>
                    <label>
                        <input type="checkbox" name="source" value="2"
                               {% if 2 in options.sources %}
                               checked=true
                               {% endif %} />Indiegogo
                    </label>
                    <label>
                        <input type="checkbox" name="source" value="3"
                               {% if 3 in options.sources %}
                               checked=true
                               {% endif %} />Pozible
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-lg-2 control-label">Status</label>
            <div class="col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="status" value=""
                               {% if False in options.statuses %}
                               checked=true
                               {% endif %} />In Progress
                    </label>
                    <label>
                        <input type="checkbox" name="status" value="True"
                               {% if True in options.statuses %}
                               checked=True
                               {% endif %} />Finished
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="prediction" class="col-lg-2 control-label">Prediction</label>
            <div class="col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="prediction" value="True"
                               {% if True in options.successes %}
                               checked=True
                               {% endif %} />Successful
                    </label>
                    <label>
                        <input type="checkbox" name="prediction" value=""
                               {% if False in options.successes %}
                               checked=True
                               {% endif %} />Unsuccessful
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="category" class="col-lg-2 control-label">Category</label>
            <div class="col-lg-10">
                <select class="form-control" id="category" name="category">
                    <option value='All'>All</option>

                    <option value="Horror">Horror</option>

                    <option value="Stationery">Stationery</option>

                    <option value="Ceramics">Ceramics</option>

                    <option value="Embroidery">Embroidery</option>

                    <option value="Residencies">Residencies</option>

                    <option value="Sports">Sports</option>

                    <option value="Glass">Glass</option>

                    <option value="Wearables">Wearables</option>

                    <option value="Painting">Painting</option>

                    <option value="Spaces">Spaces</option>

                    <option value="Robots">Robots</option>

                    <option value="DIY">DIY</option>

                    <option value="Webseries">Webseries</option>

                    <option value="Blues">Blues</option>

                    <option value="Environment">Environment</option>

                    <option value="Accessories">Accessories</option>

                    <option value="Memorials">Memorials</option>

                    <option value="Research">Research</option>

                    <option value="World Music">World Music</option>

                    <option value="Animals">Animals</option>

                    <option value="Web">Web</option>

                    <option value="Video">Video</option>

                    <option value="Print">Print</option>

                    <option value="Rock">Rock</option>

                    <option value="Fiction">Fiction</option>

                    <option value="Design">Design</option>

                    <option value="Weaving">Weaving</option>

                    <option value="Shorts">Shorts</option>

                    <option value="Childrenswear">Childrenswear</option>

                    <option value="Vegan">Vegan</option>

                    <option value="Interactive Design">Interactive Design</option>

                    <option value="Film">Film</option>

                    <option value="Action">Action</option>

                    <option value="Writing">Writing</option>

                    <option value="Comic">Comic</option>

                    <option value="People">People</option>

                    <option value="Pet Fashion">Pet Fashion</option>

                    <option value="Illustration">Illustration</option>

                    <option value="Publishing">Publishing</option>

                    <option value="Fashion">Fashion</option>

                    <option value="Performance Art">Performance Art</option>

                    <option value="Photography">Photography</option>

                    <option value="Thrillers">Thrillers</option>

                    <option value="Narrative Film">Narrative Film</option>

                    <option value="Quilts">Quilts</option>

                    <option value="Taxidermy">Taxidermy</option>

                    <option value="Technology">Technology</option>

                    <option value="Comics">Comics</option>

                    <option value="Metal">Metal</option>

                    <option value="Fine Art">Fine Art</option>

                    <option value="Printing">Printing</option>

                    <option value="Workshops">Workshops</option>

                    <option value="Science Fiction">Science Fiction</option>

                    <option value="Civic Design">Civic Design</option>

                    <option value="3D Printing">3D Printing</option>

                    <option value="Audio">Audio</option>

                    <option value="Architecture">Architecture</option>

                    <option value="Fabrication Tools">Fabrication Tools</option>

                    <option value="Television">Television</option>

                    <option value="Zines">Zines</option>

                    <option value="Footwear">Footwear</option>

                    <option value="Makerspaces">Makerspaces</option>

                    <option value="Puzzles">Puzzles</option>

                    <option value="Crafts">Crafts</option>

                    <option value="Literary Journals">Literary Journals</option>

                    <option value="Family">Family</option>

                    <option value="Craft">Craft</option>

                    <option value="Environmental">Environmental</option>

                    <option value="Video Art">Video Art</option>

                    <option value="Webcomics">Webcomics</option>

                    <option value="Comedy">Comedy</option>

                    <option value="Electronic Music">Electronic Music</option>

                    <option value="Gaming Hardware">Gaming Hardware</option>

                    <option value="Religion">Religion</option>

                    <option value="Playing Cards">Playing Cards</option>

                    <option value="Performance">Performance</option>

                    <option value="Mixed Media">Mixed Media</option>

                    <option value="Theatre">Theatre</option>

                    <option value="Pop">Pop</option>

                    <option value="Cookbooks">Cookbooks</option>

                    <option value="Health">Health</option>

                    <option value="Anthologies">Anthologies</option>

                    <option value="Children&#39;s Books">Children&#39;s Books</option>

                    <option value="Periodicals">Periodicals</option>

                    <option value="Farms">Farms</option>

                    <option value="Art">Art</option>

                    <option value="Software">Software</option>

                    <option value="Jazz">Jazz</option>

                    <option value="Community">Community</option>

                    <option value="Comic Books">Comic Books</option>

                    <option value="Dance">Dance</option>

                    <option value="Poetry">Poetry</option>

                    <option value="Translations">Translations</option>

                    <option value="Festivals">Festivals</option>

                    <option value="Game">Game</option>

                    <option value="Tabletop Games">Tabletop Games</option>

                    <option value="Video / Web">Video / Web</option>

                    <option value="Music Videos">Music Videos</option>

                    <option value="Gaming">Gaming</option>

                    <option value="Bacon">Bacon</option>

                    <option value="Journalism">Journalism</option>

                    <option value="Gadgets">Gadgets</option>

                    <option value="Public Art">Public Art</option>

                    <option value="Restaurants">Restaurants</option>

                    <option value="Kids">Kids</option>

                    <option value="Apps">Apps</option>

                    <option value="Graphic Novels">Graphic Novels</option>

                    <option value="Documentary">Documentary</option>

                    <option value="Sculpture">Sculpture</option>

                    <option value="Textiles">Textiles</option>

                    <option value="Event">Event</option>

                    <option value="Typography">Typography</option>

                    <option value="Romance">Romance</option>

                    <option value="Jewelry">Jewelry</option>

                    <option value="Hardware">Hardware</option>

                    <option value="Community Gardens">Community Gardens</option>

                    <option value="Immersive">Immersive</option>

                    <option value="Academic">Academic</option>

                    <option value="Film &amp; Video">Film &amp; Video</option>

                    <option value="Plays">Plays</option>

                    <option value="Couture">Couture</option>

                    <option value="Video Games">Video Games</option>

                    <option value="Nonfiction">Nonfiction</option>

                    <option value="Drama">Drama</option>

                    <option value="Conceptual Art">Conceptual Art</option>

                    <option value="Fantasy">Fantasy</option>

                    <option value="Classical Music">Classical Music</option>

                    <option value="Music">Music</option>

                    <option value="Hip-Hop">Hip-Hop</option>

                    <option value="Digital Art">Digital Art</option>

                    <option value="Food">Food</option>

                    <option value="Candles">Candles</option>

                    <option value="DIY Electronics">DIY Electronics</option>

                    <option value="Space Exploration">Space Exploration</option>

                    <option value="Education">Education</option>

                    <option value="Food Trucks">Food Trucks</option>

                    <option value="Drinks">Drinks</option>

                    <option value="Calendars">Calendars</option>

                    <option value="R&amp;B">R&amp;B</option>

                    <option value="Other">Other</option>

                    <option value="Performances">Performances</option>

                    <option value="Graphic Design">Graphic Design</option>

                    <option value="Transmedia">Transmedia</option>

                    <option value="Experimental">Experimental</option>

                    <option value="Installations">Installations</option>

                    <option value="Art Books">Art Books</option>

                    <option value="Ready-to-wear">Ready-to-wear</option>

                    <option value="Letterpress">Letterpress</option>

                    <option value="Camera Equipment">Camera Equipment</option>

                    <option value="Sound">Sound</option>

                    <option value="Live Games">Live Games</option>

                    <option value="Country &amp; Folk">Country &amp; Folk</option>

                    <option value="Product Design">Product Design</option>

                    <option value="Musical">Musical</option>

                    <option value="Woodworking">Woodworking</option>

                    <option value="Medical">Medical</option>

                    <option value="Apparel">Apparel</option>

                    <option value="Games">Games</option>

                    <option value="Photobooks">Photobooks</option>

                    <option value="Pottery">Pottery</option>

                    <option value="Social Enterprise">Social Enterprise</option>

                    <option value="Faith">Faith</option>

                    <option value="Knitting">Knitting</option>

                    <option value="Radio &amp; Podcasts">Radio &amp; Podcasts</option>

                    <option value="Indie Rock">Indie Rock</option>

                    <option value="Movie Theaters">Movie Theaters</option>

                    <option value="Crochet">Crochet</option>

                    <option value="Animation">Animation</option>

                    <option value="Places">Places</option>

                    <option value="Nature">Nature</option>

                    <option value="Politics">Politics</option>

                    <option value="Punk">Punk</option>

                    <option value="Emergencies">Emergencies</option>

                    <option value="Small Batch">Small Batch</option>

                    <option value="Theater">Theater</option>

                    <option value="Events">Events</option>

                    <option value="Young Adult">Young Adult</option>

                    <option value="Photo">Photo</option>

                    <option value="Small Business">Small Business</option>

                    <option value="Food &amp; Drink">Food &amp; Drink</option>

                    <option value="Mobile Games">Mobile Games</option>

                    <option value="Latin">Latin</option>

                    <option value="Farmer&#39;s Markets">Farmer&#39;s Markets</option>

                    <option value="Flight">Flight</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="location" class="col-lg-2 control-label">Location</label>
            <div class="col-lg-10">
                <select class="form-control" id="location" name="location">
                    <option value='All'>All</option>
                    <option value="Glassboro">Glassboro</option>

                    <option value="Yangon">Yangon</option>

                    <option value="Palestine, State of">Palestine, State of</option>

                    <option value="Bedok">Bedok</option>

                    <option value="Brisbane/Sydney">Brisbane/Sydney</option>

                    <option value="Evansford">Evansford</option>

                    <option value="Wuhan">Wuhan</option>

                    <option value="Wenzhou">Wenzhou</option>

                    <option value="Turkey">Turkey</option>

                    <option value="Hyderabad">Hyderabad</option>

                    <option value="Noosa">Noosa</option>

                    <option value="Samoa">Samoa</option>

                    <option value="Sydney ">Sydney </option>

                    <option value="San Diego">San Diego</option>

                    <option value="Brunswick East">Brunswick East</option>

                    <option value="Crookwell">Crookwell</option>

                    <option value="Fitzroy">Fitzroy</option>

                    <option value="Kigali">Kigali</option>

                    <option value="Faro">Faro</option>

                    <option value="Marrickville">Marrickville</option>

                    <option value="Redland Bay">Redland Bay</option>

                    <option value="Macedonia">Macedonia</option>

                    <option value="Denpasar">Denpasar</option>

                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>

                    <option value="Bundaberg">Bundaberg</option>

                    <option value="Hope Island">Hope Island</option>

                    <option value="Mississauga">Mississauga</option>

                    <option value="Guinea-Bissau">Guinea-Bissau</option>

                    <option value="Moscow">Moscow</option>

                    <option value="Tsim Sha Tsui">Tsim Sha Tsui</option>

                    <option value="Warragul">Warragul</option>

                    <option value="Lebanon">Lebanon</option>

                    <option value="Linköping">Linköping</option>

                    <option value="Prague">Prague</option>

                    <option value="Berridale">Berridale</option>

                    <option value="Ballarat">Ballarat</option>

                    <option value="sydney">sydney</option>

                    <option value="Tacloban City">Tacloban City</option>

                    <option value="Leeds">Leeds</option>

                    <option value="MN">MN</option>

                    <option value="Tampa">Tampa</option>

                    <option value="Australia">Australia</option>

                    <option value="Copenhagen">Copenhagen</option>

                    <option value="Balcatta">Balcatta</option>

                    <option value="Cooma">Cooma</option>

                    <option value="CT">CT</option>

                    <option value="Bowen">Bowen</option>

                    <option value="Leusden">Leusden</option>

                    <option value="Belize">Belize</option>

                    <option value="DALIAN">DALIAN</option>

                    <option value="Tijuana">Tijuana</option>

                    <option value="ND">ND</option>

                    <option value="Eumundi">Eumundi</option>

                    <option value="Marshall Islands">Marshall Islands</option>

                    <option value="Balliang">Balliang</option>

                    <option value="Beijing">Beijing</option>

                    <option value="Candelo">Candelo</option>

                    <option value="Dar es Salaam">Dar es Salaam</option>

                    <option value="Kanpur">Kanpur</option>

                    <option value="St Arnaud">St Arnaud</option>

                    <option value="Miskolc">Miskolc</option>

                    <option value="Mandurah">Mandurah</option>

                    <option value="Valencia">Valencia</option>

                    <option value="Vienna">Vienna</option>

                    <option value="Korea, Republic of">Korea, Republic of</option>

                    <option value="Sofia">Sofia</option>

                    <option value="PA">PA</option>

                    <option value="Milton">Milton</option>

                    <option value="Peru">Peru</option>

                    <option value="T&#39;ai-chung">T&#39;ai-chung</option>

                    <option value="Ulaanbaatar">Ulaanbaatar</option>

                    <option value="Yalbraith">Yalbraith</option>

                    <option value="Benalla">Benalla</option>

                    <option value="Lupeni">Lupeni</option>

                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>

                    <option value="Spain">Spain</option>

                    <option value="Apollo Bay">Apollo Bay</option>

                    <option value="Clemson">Clemson</option>

                    <option value="Moe">Moe</option>

                    <option value="Palm Coast">Palm Coast</option>

                    <option value="Redfern">Redfern</option>

                    <option value="Murwillumbah">Murwillumbah</option>

                    <option value="Penneshaw">Penneshaw</option>

                    <option value="Shepparton">Shepparton</option>

                    <option value="Dili">Dili</option>

                    <option value="Dominica">Dominica</option>

                    <option value="Harare">Harare</option>

                    <option value="Petaling">Petaling</option>

                    <option value="Coffs Harbour">Coffs Harbour</option>

                    <option value="Toledo">Toledo</option>

                    <option value="Mayfield">Mayfield</option>

                    <option value="Sepang">Sepang</option>

                    <option value="Sorrento">Sorrento</option>

                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>

                    <option value="Newtown">Newtown</option>

                    <option value="South Africa">South Africa</option>

                    <option value="Glasgow">Glasgow</option>

                    <option value="Kowloon Tong">Kowloon Tong</option>

                    <option value="St Kilda">St Kilda</option>

                    <option value="Somalia">Somalia</option>

                    <option value="Valetta">Valetta</option>

                    <option value="Melbourne Newcastle">Melbourne Newcastle</option>

                    <option value="Hayley Green">Hayley Green</option>

                    <option value="North Hollywood">North Hollywood</option>

                    <option value="Osaka-shi">Osaka-shi</option>

                    <option value="Bangalow">Bangalow</option>

                    <option value="Bright">Bright</option>

                    <option value="Cakovec">Cakovec</option>

                    <option value="Linden">Linden</option>

                    <option value="Puebla">Puebla</option>

                    <option value="Tunisia">Tunisia</option>

                    <option value="Italy">Italy</option>

                    <option value="DE">DE</option>

                    <option value="Carrum Downs">Carrum Downs</option>

                    <option value="Ulladulla">Ulladulla</option>

                    <option value="Nowra">Nowra</option>

                    <option value="Migori">Migori</option>

                    <option value="Chiang Mai">Chiang Mai</option>

                    <option value="Phnom Penh">Phnom Penh</option>

                    <option value="Saint-Marc">Saint-Marc</option>

                    <option value="Fukuoka-shi">Fukuoka-shi</option>

                    <option value="Hamilton">Hamilton</option>

                    <option value="Trujillo">Trujillo</option>

                    <option value="Guadeloupe">Guadeloupe</option>

                    <option value="CHRISTCHURCH">CHRISTCHURCH</option>

                    <option value="Cote d&#39;Ivoire">Cote d&#39;Ivoire</option>

                    <option value="Antananarivo">Antananarivo</option>

                    <option value="SYDNEY">SYDNEY</option>

                    <option value="Santiago">Santiago</option>

                    <option value="Sprucedale">Sprucedale</option>

                    <option value="Tanzania">Tanzania</option>

                    <option value="Władysławowo">Władysławowo</option>

                    <option value="Guatemala">Guatemala</option>

                    <option value="Bowral">Bowral</option>

                    <option value="Germany">Germany</option>

                    <option value="Singapore">Singapore</option>

                    <option value="Honolulu">Honolulu</option>

                    <option value="Port-au-Prince">Port-au-Prince</option>

                    <option value="France">France</option>

                    <option value="Halifax">Halifax</option>

                    <option value="Rio de Janeiro">Rio de Janeiro</option>

                    <option value="Stavanger">Stavanger</option>

                    <option value="Berlin">Berlin</option>

                    <option value="King Valley">King Valley</option>

                    <option value="Longreach">Longreach</option>

                    <option value="Pambula">Pambula</option>

                    <option value="Russia">Russia</option>

                    <option value="Bangladesh">Bangladesh</option>

                    <option value="Honiara">Honiara</option>

                    <option value="Queanbeyan">Queanbeyan</option>

                    <option value="Guinea">Guinea</option>

                    <option value="Bagni Di Lucca">Bagni Di Lucca</option>

                    <option value="Serangoon">Serangoon</option>

                    <option value="Surf Coast">Surf Coast</option>

                    <option value="Doonan">Doonan</option>

                    <option value="Nowa Nowa">Nowa Nowa</option>

                    <option value="United States">United States</option>

                    <option value="Brisbane ">Brisbane </option>

                    <option value="Parkes">Parkes</option>

                    <option value="Brisbane/Adelaide">Brisbane/Adelaide</option>

                    <option value="Antigua Guatemala">Antigua Guatemala</option>

                    <option value="Bedford">Bedford</option>

                    <option value="Riverland/Adelaide">Riverland/Adelaide</option>

                    <option value="Dunedin">Dunedin</option>

                    <option value="Newcastle">Newcastle</option>

                    <option value="Armidale">Armidale</option>

                    <option value="Konstanz">Konstanz</option>

                    <option value="Ethiopia">Ethiopia</option>

                    <option value="Lenzburg">Lenzburg</option>

                    <option value="Israel">Israel</option>

                    <option value="the Democratic Republic of">the Democratic Republic of</option>

                    <option value="Alor Star">Alor Star</option>

                    <option value="Kiama">Kiama</option>

                    <option value="Adelaide/Melbourne">Adelaide/Melbourne</option>

                    <option value="New Zealand">New Zealand</option>

                    <option value="Nelson Bay">Nelson Bay</option>

                    <option value="Boambee East">Boambee East</option>

                    <option value="Bogota">Bogota</option>

                    <option value="Lackenby">Lackenby</option>

                    <option value="Blacktown">Blacktown</option>

                    <option value="Accra">Accra</option>

                    <option value="Byron Bay">Byron Bay</option>

                    <option value="Bendigo">Bendigo</option>

                    <option value="Novo Hamburgo">Novo Hamburgo</option>

                    <option value="Abbotsford">Abbotsford</option>

                    <option value="Hangzhou">Hangzhou</option>

                    <option value="Mullumbimby">Mullumbimby</option>

                    <option value="Suva">Suva</option>

                    <option value="Kuala Lumpur">Kuala Lumpur</option>

                    <option value="Gold Coast">Gold Coast</option>

                    <option value="Montenegro">Montenegro</option>

                    <option value="Bogota to Canberra">Bogota to Canberra</option>

                    <option value="MT">MT</option>

                    <option value="NM">NM</option>

                    <option value="Yogyakarta">Yogyakarta</option>

                    <option value="Tamworth">Tamworth</option>

                    <option value="Taree">Taree</option>

                    <option value="Manado">Manado</option>

                    <option value="Shah Alam">Shah Alam</option>

                    <option value="Leonora">Leonora</option>

                    <option value="Tbilsi">Tbilsi</option>

                    <option value="Lesotho">Lesotho</option>

                    <option value="Busselton">Busselton</option>

                    <option value="Tallinn">Tallinn</option>

                    <option value="Sanya">Sanya</option>

                    <option value="Berrima">Berrima</option>

                    <option value="Akranes">Akranes</option>

                    <option value="Gosford">Gosford</option>

                    <option value="Hong Kong">Hong Kong</option>

                    <option value="Lisbon">Lisbon</option>

                    <option value="Mianyang">Mianyang</option>

                    <option value="Portugal">Portugal</option>

                    <option value="Thanjavur">Thanjavur</option>

                    <option value="Jordbro">Jordbro</option>

                    <option value="Melbourne">Melbourne</option>

                    <option value="Dandenong">Dandenong</option>

                    <option value="Canada">Canada</option>

                    <option value="Palestine">Palestine</option>

                    <option value="Nambour">Nambour</option>

                    <option value="South Yarra">South Yarra</option>

                    <option value="Subang Jaya">Subang Jaya</option>

                    <option value="Cagayan de Oro">Cagayan de Oro</option>

                    <option value="Gundaroo">Gundaroo</option>

                    <option value="New York">New York</option>

                    <option value="Kangaroo Point">Kangaroo Point</option>

                    <option value="Bangkok">Bangkok</option>

                    <option value="South Bend">South Bend</option>

                    <option value="South Melbourne">South Melbourne</option>

                    <option value="Milingimbi">Milingimbi</option>

                    <option value="Victoria">Victoria</option>

                    <option value="Austin">Austin</option>

                    <option value="Cologne">Cologne</option>

                    <option value="Kiev">Kiev</option>

                    <option value="Myanmar">Myanmar</option>

                    <option value="Golden">Golden</option>

                    <option value="Palo Alto">Palo Alto</option>

                    <option value="Austinmer">Austinmer</option>

                    <option value="Cannington">Cannington</option>

                    <option value="Perth">Perth</option>

                    <option value="Ringwood">Ringwood</option>

                    <option value="Lamjung">Lamjung</option>

                    <option value="Neuss">Neuss</option>

                    <option value="Mali">Mali</option>

                    <option value="Toulon">Toulon</option>

                    <option value="Georgetown">Georgetown</option>

                    <option value="Mombasa">Mombasa</option>

                    <option value="Gaborone">Gaborone</option>

                    <option value="Melbourne / Broome">Melbourne / Broome</option>

                    <option value="Touring">Touring</option>

                    <option value="Dublin">Dublin</option>

                    <option value="Renmark">Renmark</option>

                    <option value="Uki">Uki</option>

                    <option value="Costa Rica">Costa Rica</option>

                    <option value="Cambodia">Cambodia</option>

                    <option value="Nibung Tebal">Nibung Tebal</option>

                    <option value="Saint Pete">Saint Pete</option>

                    <option value="sydney-london">sydney-london</option>

                    <option value="Cairo">Cairo</option>

                    <option value="The Hague">The Hague</option>

                    <option value="California">California</option>

                    <option value="Stair">Stair</option>

                    <option value="Stockholm ">Stockholm </option>

                    <option value="Preston">Preston</option>

                    <option value="Avoca Beach">Avoca Beach</option>

                    <option value="Vietnam">Vietnam</option>

                    <option value="Milan">Milan</option>

                    <option value="Rockhampton">Rockhampton</option>

                    <option value="Tampere">Tampere</option>

                    <option value="Kuala Lumpor">Kuala Lumpor</option>

                    <option value="Denver">Denver</option>

                    <option value="IN">IN</option>

                    <option value="Kota Kinabalu">Kota Kinabalu</option>

                    <option value="Netherlands">Netherlands</option>

                    <option value="Noble Park Nth">Noble Park Nth</option>

                    <option value="Rochdale">Rochdale</option>

                    <option value="Ocean Grove">Ocean Grove</option>

                    <option value="Odense">Odense</option>

                    <option value="Rome">Rome</option>

                    <option value="Warrnambool">Warrnambool</option>

                    <option value="Bozeman">Bozeman</option>

                    <option value="Quezon City">Quezon City</option>

                    <option value="Sylhet">Sylhet</option>

                    <option value="Vancouver">Vancouver</option>

                    <option value="Caloundra">Caloundra</option>

                    <option value="Priozersk">Priozersk</option>

                    <option value="The Entrance">The Entrance</option>

                    <option value="Warracknabeal">Warracknabeal</option>

                    <option value="Argentina">Argentina</option>

                    <option value="Deepwater">Deepwater</option>

                    <option value="Villavicencio">Villavicencio</option>

                    <option value="Cusco">Cusco</option>

                    <option value="Tel Aviv">Tel Aviv</option>

                    <option value="Tokyo">Tokyo</option>

                    <option value="Kitale">Kitale</option>

                    <option value="Nashville">Nashville</option>

                    <option value="CA">CA</option>

                    <option value="Manali">Manali</option>

                    <option value="Cuba">Cuba</option>

                    <option value="Lusaka">Lusaka</option>

                    <option value="Azerbaijan">Azerbaijan</option>

                    <option value="RI">RI</option>

                    <option value="Mongolia">Mongolia</option>

                    <option value="Brazil">Brazil</option>

                    <option value="Ayr">Ayr</option>

                    <option value="Dumaguete City">Dumaguete City</option>

                    <option value="Oxford">Oxford</option>

                    <option value="Hungary">Hungary</option>

                    <option value="Kandos">Kandos</option>

                    <option value="Mozambique">Mozambique</option>

                    <option value="Melbourne ">Melbourne </option>

                    <option value="Swindon">Swindon</option>

                    <option value="Fairfield West">Fairfield West</option>

                    <option value="North Sydney">North Sydney</option>

                    <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>

                    <option value="Geelong">Geelong</option>

                    <option value="Taiwan">Taiwan</option>

                    <option value="Abu Dhabi">Abu Dhabi</option>

                    <option value="Sri Lanka">Sri Lanka</option>

                    <option value="Leiden">Leiden</option>

                    <option value="Blue Mountains">Blue Mountains</option>

                    <option value="Burnie">Burnie</option>

                    <option value="Kalgoorlie">Kalgoorlie</option>

                    <option value="Acornhoek">Acornhoek</option>

                    <option value="Bhutan">Bhutan</option>

                    <option value="Kyrgyzstan">Kyrgyzstan</option>

                    <option value="Central African Republic">Central African Republic</option>

                    <option value="Bairnsdale">Bairnsdale</option>

                    <option value="Out Bush">Out Bush</option>

                    <option value="Serbia">Serbia</option>

                    <option value="Niger">Niger</option>

                    <option value="South Korea">South Korea</option>

                    <option value="Zimbabwe">Zimbabwe</option>

                    <option value="Ireland">Ireland</option>

                    <option value="Haiti">Haiti</option>

                    <option value="Whyalla">Whyalla</option>

                    <option value="Shoalhaven">Shoalhaven</option>

                    <option value="Syracuse">Syracuse</option>

                    <option value="Palmerston North">Palmerston North</option>

                    <option value="GA">GA</option>

                    <option value="Austria">Austria</option>

                    <option value="Panama">Panama</option>

                    <option value="Kaunas">Kaunas</option>

                    <option value="Chewton">Chewton</option>

                    <option value="Antarctica">Antarctica</option>

                    <option value="Banda Aceh">Banda Aceh</option>

                    <option value="Queensland">Queensland</option>

                    <option value="Port Macquarie">Port Macquarie</option>

                    <option value="Comoros">Comoros</option>

                    <option value="Island Falls">Island Falls</option>

                    <option value="King Island">King Island</option>

                    <option value="Luxembourg">Luxembourg</option>

                    <option value="Brasilia - DF">Brasilia - DF</option>

                    <option value="Sweden">Sweden</option>

                    <option value="National">National</option>

                    <option value="Rodez">Rodez</option>

                    <option value="ME">ME</option>

                    <option value="Warsaw">Warsaw</option>

                    <option value="India">India</option>

                    <option value="Ho Chi Minh City">Ho Chi Minh City</option>

                    <option value="Philippines">Philippines</option>

                    <option value="San Francisco">San Francisco</option>

                    <option value="Toowoomba">Toowoomba</option>

                    <option value="Broome">Broome</option>

                    <option value="Wagga Wagga">Wagga Wagga</option>

                    <option value="Virgin Islands, British">Virgin Islands, British</option>

                    <option value="Colombo">Colombo</option>

                    <option value="Perth WA">Perth WA</option>

                    <option value="Kyabram">Kyabram</option>

                    <option value="Noosa Heads">Noosa Heads</option>

                    <option value="Lao People&#39;s Democratic Republic">Lao People&#39;s Democratic Republic</option>

                    <option value="St. Petersburg">St. Petersburg</option>

                    <option value="Costa Mesa">Costa Mesa</option>

                    <option value="Namibia">Namibia</option>

                    <option value="Frankfurt">Frankfurt</option>

                    <option value="Quito">Quito</option>

                    <option value="Albany">Albany</option>

                    <option value="Portland">Portland</option>

                    <option value="Collinsville">Collinsville</option>

                    <option value="Perth/Adelaide">Perth/Adelaide</option>

                    <option value="Albury">Albury</option>

                    <option value="Quetta">Quetta</option>

                    <option value="Iraq">Iraq</option>

                    <option value="Ballan">Ballan</option>

                    <option value="Little River">Little River</option>

                    <option value="Lanzhou">Lanzhou</option>

                    <option value="Newcastle ">Newcastle </option>

                    <option value="Philadelphia">Philadelphia</option>

                    <option value="Sarajevo">Sarajevo</option>

                    <option value="Melboune ">Melboune </option>

                    <option value="Fukushima-shi">Fukushima-shi</option>

                    <option value="Hervey Bay">Hervey Bay</option>

                    <option value="Florida">Florida</option>

                    <option value="Nanjing">Nanjing</option>

                    <option value="Grenada">Grenada</option>

                    <option value="Bannockburn">Bannockburn</option>

                    <option value="Lithuania">Lithuania</option>

                    <option value="Bucharest">Bucharest</option>

                    <option value="Nimbin">Nimbin</option>

                    <option value="Brooklyn">Brooklyn</option>

                    <option value="Barbados">Barbados</option>

                    <option value="Edmonton">Edmonton</option>

                    <option value="Egypt">Egypt</option>

                    <option value="Tarapoto">Tarapoto</option>

                    <option value="KS">KS</option>

                    <option value="Wanaka">Wanaka</option>

                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>

                    <option value="Whangarei">Whangarei</option>

                    <option value="Suriname">Suriname</option>

                    <option value="Guyana">Guyana</option>

                    <option value="Lima">Lima</option>

                    <option value="DARWIN">DARWIN</option>

                    <option value="Claris">Claris</option>

                    <option value="Brindisi">Brindisi</option>

                    <option value="Melbourne Australia">Melbourne Australia</option>

                    <option value="Perth/Melbourne">Perth/Melbourne</option>

                    <option value="Cochabamba">Cochabamba</option>

                    <option value="Melbourne Sydney Brisbane Canberra">Melbourne Sydney Brisbane Canberra</option>

                    <option value="Benin">Benin</option>

                    <option value="Mornington Peninsula">Mornington Peninsula</option>

                    <option value="Angola">Angola</option>

                    <option value="Targu Mures">Targu Mures</option>

                    <option value="Seychelles">Seychelles</option>

                    <option value="Darwin">Darwin</option>

                    <option value="Larvik">Larvik</option>

                    <option value="Woodend">Woodend</option>

                    <option value="Czech Republic">Czech Republic</option>

                    <option value="LIJA">LIJA</option>

                    <option value="Bandundu">Bandundu</option>

                    <option value="Coquimbo">Coquimbo</option>

                    <option value="Stanthorpe">Stanthorpe</option>

                    <option value="Rotterdam">Rotterdam</option>

                    <option value="NY">NY</option>

                    <option value="Kassel">Kassel</option>

                    <option value="Helsinki">Helsinki</option>

                    <option value="Seattle">Seattle</option>

                    <option value="Beirut">Beirut</option>

                    <option value="Pahang">Pahang</option>

                    <option value="Panjim">Panjim</option>

                    <option value="Bratislava">Bratislava</option>

                    <option value="Healesville">Healesville</option>

                    <option value="Kampong Baru Subang">Kampong Baru Subang</option>

                    <option value="Wollongong">Wollongong</option>

                    <option value="Baku">Baku</option>

                    <option value="Margaret River">Margaret River</option>

                    <option value="AZ">AZ</option>

                    <option value="Tehran">Tehran</option>

                    <option value="Torquay">Torquay</option>

                    <option value="Gerlach">Gerlach</option>

                    <option value="Balara">Balara</option>

                    <option value="Beechworth">Beechworth</option>

                    <option value="Blanchetown">Blanchetown</option>

                    <option value="Wellington/Adelaide">Wellington/Adelaide</option>

                    <option value="Ukraine">Ukraine</option>

                    <option value="Tonga">Tonga</option>

                    <option value="Cambridge">Cambridge</option>

                    <option value="Tunis">Tunis</option>

                    <option value="Puchong New Village">Puchong New Village</option>

                    <option value="Griffith">Griffith</option>

                    <option value="Guatemala City">Guatemala City</option>

                    <option value="Grafton">Grafton</option>

                    <option value="Pal">Pal</option>

                    <option value="Xiamen">Xiamen</option>

                    <option value="Gijon">Gijon</option>

                    <option value="Swan Hill">Swan Hill</option>

                    <option value="Reykjavik">Reykjavik</option>

                    <option value="Melbourne/Adelaide">Melbourne/Adelaide</option>

                    <option value="Khulna">Khulna</option>

                    <option value="WI">WI</option>

                    <option value="Siem Reap">Siem Reap</option>

                    <option value="Kenya">Kenya</option>

                    <option value="Jabuk">Jabuk</option>

                    <option value="Bondi">Bondi</option>

                    <option value="Ashdod">Ashdod</option>

                    <option value="Katherine">Katherine</option>

                    <option value="Bengkulu">Bengkulu</option>

                    <option value="City of Gold Coast">City of Gold Coast</option>

                    <option value="Donets&#39;k">Donets&#39;k</option>

                    <option value="Akureyri">Akureyri</option>

                    <option value="Riga">Riga</option>

                    <option value="Catania">Catania</option>

                    <option value="Langkawi International Airport">Langkawi International Airport</option>

                    <option value="Morogoro">Morogoro</option>

                    <option value="Clayton (Victoria)">Clayton (Victoria)</option>

                    <option value="Ikuntji">Ikuntji</option>

                    <option value="Creswick">Creswick</option>

                    <option value="UK">UK</option>

                    <option value="Footscray">Footscray</option>

                    <option value="canberra">canberra</option>

                    <option value="Oulu">Oulu</option>

                    <option value="Switzerland">Switzerland</option>

                    <option value="Nhulunbuy">Nhulunbuy</option>

                    <option value="Geneva">Geneva</option>

                    <option value="Loxton">Loxton</option>

                    <option value="SC">SC</option>

                    <option value="Lagoa">Lagoa</option>

                    <option value="Heidelberg">Heidelberg</option>

                    <option value="VIC">VIC</option>

                    <option value="Gordonvale">Gordonvale</option>

                    <option value="NJ">NJ</option>

                    <option value="Belmar">Belmar</option>

                    <option value="Delhi">Delhi</option>

                    <option value="Shanghai">Shanghai</option>

                    <option value="Victoria Falls">Victoria Falls</option>

                    <option value="French Polynesia">French Polynesia</option>

                    <option value="Yekaterinburg">Yekaterinburg</option>

                    <option value="Edinburgh">Edinburgh</option>

                    <option value="Manchester">Manchester</option>

                    <option value="Resolute">Resolute</option>

                    <option value="Windhoek">Windhoek</option>

                    <option value="Islamabad">Islamabad</option>

                    <option value="Port Melbourne">Port Melbourne</option>

                    <option value="Kuranda">Kuranda</option>

                    <option value="Willowvale">Willowvale</option>

                    <option value="Castlemaine">Castlemaine</option>

                    <option value="Cyprus">Cyprus</option>

                    <option value="Zurich">Zurich</option>

                    <option value="Nagasaki">Nagasaki</option>

                    <option value="Narooma">Narooma</option>

                    <option value="Jinan">Jinan</option>

                    <option value="OR">OR</option>

                    <option value="Jamaica">Jamaica</option>

                    <option value="Nairobi">Nairobi</option>

                    <option value="Houston">Houston</option>

                    <option value="Chiang Rai">Chiang Rai</option>

                    <option value="Kensington">Kensington</option>

                    <option value="Nampula">Nampula</option>

                    <option value="NZ">NZ</option>

                    <option value="Manila">Manila</option>

                    <option value="Jesenice">Jesenice</option>

                    <option value="Guangzhou">Guangzhou</option>

                    <option value="Bahamas">Bahamas</option>

                    <option value="Birmingham">Birmingham</option>

                    <option value="Causeway Bay">Causeway Bay</option>

                    <option value="Falmouth">Falmouth</option>

                    <option value="Slovakia">Slovakia</option>

                    <option value="Bukidnon Community">Bukidnon Community</option>

                    <option value="Burkina Faso">Burkina Faso</option>

                    <option value="Luanda">Luanda</option>

                    <option value="WA">WA</option>

                    <option value="Melbourne/Corryong">Melbourne/Corryong</option>

                    <option value="Haugesund">Haugesund</option>

                    <option value="Taipei City">Taipei City</option>

                    <option value="Valthermond">Valthermond</option>

                    <option value="Ban Phattha Ya">Ban Phattha Ya</option>

                    <option value="Ludwigsburg">Ludwigsburg</option>

                    <option value="Senegal">Senegal</option>

                    <option value="Bremen">Bremen</option>

                    <option value="Kelowna">Kelowna</option>

                    <option value="Kingsford Smith Airport">Kingsford Smith Airport</option>

                    <option value="Mexico">Mexico</option>

                    <option value="Barcelona">Barcelona</option>

                    <option value="Pokolbin">Pokolbin</option>

                    <option value="Gunnedah">Gunnedah</option>

                    <option value="Bali Pulau">Bali Pulau</option>

                    <option value="Newcastle upon Tyne">Newcastle upon Tyne</option>

                    <option value="Estonia">Estonia</option>

                    <option value="Hohoe">Hohoe</option>

                    <option value="Maryborough">Maryborough</option>

                    <option value="Georgetown,Penang">Georgetown,Penang</option>

                    <option value="Thimphu">Thimphu</option>

                    <option value="Singaraja">Singaraja</option>

                    <option value="Morayfield">Morayfield</option>

                    <option value="Sunshine Coast">Sunshine Coast</option>

                    <option value="Traralgon">Traralgon</option>

                    <option value="Boonah">Boonah</option>

                    <option value="Jordan">Jordan</option>

                    <option value="Alice Springs">Alice Springs</option>

                    <option value="Katoomba">Katoomba</option>

                    <option value="Sydney">Sydney</option>

                    <option value="Johannesburg">Johannesburg</option>

                    <option value="Heredia">Heredia</option>

                    <option value="WY">WY</option>

                    <option value="Wangaratta">Wangaratta</option>

                    <option value="Iceland">Iceland</option>

                    <option value="Saint Petersburg">Saint Petersburg</option>

                    <option value="Wellington">Wellington</option>

                    <option value="Palestinian Territories">Palestinian Territories</option>

                    <option value="North Korea">North Korea</option>

                    <option value="Rockingham">Rockingham</option>

                    <option value="Puerto Rico">Puerto Rico</option>

                    <option value="MD">MD</option>

                    <option value="Altona">Altona</option>

                    <option value="DC">DC</option>

                    <option value="Athens">Athens</option>

                    <option value="Mauritania">Mauritania</option>

                    <option value="Paris">Paris</option>

                    <option value="OK">OK</option>

                    <option value="Croatia">Croatia</option>

                    <option value=""></option>

                    <option value="CO">CO</option>

                    <option value="WV">WV</option>

                    <option value="Kochi">Kochi</option>

                    <option value="Freetown">Freetown</option>

                    <option value="Malta">Malta</option>

                    <option value="Kyogle">Kyogle</option>

                    <option value="Sydney/Melbourne">Sydney/Melbourne</option>

                    <option value="Morocco">Morocco</option>

                    <option value="Basel">Basel</option>

                    <option value="Bethlehem">Bethlehem</option>

                    <option value="Bukit Timah">Bukit Timah</option>

                    <option value="United Arab Emirates">United Arab Emirates</option>

                    <option value="Bandar Sri Damansara">Bandar Sri Damansara</option>

                    <option value="Ebenezer">Ebenezer</option>

                    <option value="Townsville Qld">Townsville Qld</option>

                    <option value="Pottsville">Pottsville</option>

                    <option value="FL">FL</option>

                    <option value="Rotorua">Rotorua</option>

                    <option value="Millicent">Millicent</option>

                    <option value="Parramatta">Parramatta</option>

                    <option value="Port Moresby">Port Moresby</option>

                    <option value="Pomonal">Pomonal</option>

                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>

                    <option value="Istanbul">Istanbul</option>

                    <option value="Ecuador">Ecuador</option>

                    <option value="MS">MS</option>

                    <option value="Erbil">Erbil</option>

                    <option value="Hawthorn">Hawthorn</option>

                    <option value="Viet Nam">Viet Nam</option>

                    <option value="IL">IL</option>

                    <option value="Kisumu">Kisumu</option>

                    <option value="Maroochydore">Maroochydore</option>

                    <option value="Surfers Paradise">Surfers Paradise</option>

                    <option value="New Farm">New Farm</option>

                    <option value="Carlton">Carlton</option>

                    <option value="Ishinomaki">Ishinomaki</option>

                    <option value="Cukai">Cukai</option>

                    <option value="Kyrenia">Kyrenia</option>

                    <option value="Langkawi">Langkawi</option>

                    <option value="Palu">Palu</option>

                    <option value="Adelaidy Ostrov">Adelaidy Ostrov</option>

                    <option value="Lilongwe">Lilongwe</option>

                    <option value="Wynyard">Wynyard</option>

                    <option value="Wyong">Wyong</option>

                    <option value="Campsie">Campsie</option>

                    <option value="Zambia">Zambia</option>

                    <option value="Burwood">Burwood</option>

                    <option value="Kabul">Kabul</option>

                    <option value="Sierra Leone">Sierra Leone</option>

                    <option value="Bermuda">Bermuda</option>

                    <option value="Georgia">Georgia</option>

                    <option value="Ankara">Ankara</option>

                    <option value="North Shore">North Shore</option>

                    <option value="Huizhou">Huizhou</option>

                    <option value="Montreal">Montreal</option>

                    <option value="Afghanistan">Afghanistan</option>

                    <option value="Mitchell">Mitchell</option>

                    <option value="Daylesford">Daylesford</option>

                    <option value="Stansted">Stansted</option>

                    <option value="Brussels">Brussels</option>

                    <option value="Major&#39;s Creek">Major&#39;s Creek</option>

                    <option value="Woodlands New Town">Woodlands New Town</option>

                    <option value="IA">IA</option>

                    <option value="El Salvador">El Salvador</option>

                    <option value="Bega">Bega</option>

                    <option value="Cairns Festival">Cairns Festival</option>

                    <option value="Bamenda">Bamenda</option>

                    <option value="Cape Town">Cape Town</option>

                    <option value="Mount Gambier">Mount Gambier</option>

                    <option value="Wycheproof">Wycheproof</option>

                    <option value="Zhangjiakou">Zhangjiakou</option>

                    <option value="Latvia">Latvia</option>

                    <option value="Springsure">Springsure</option>

                    <option value="Venezuela">Venezuela</option>

                    <option value="Pretoria">Pretoria</option>

                    <option value="Brno">Brno</option>

                    <option value="Joensuu">Joensuu</option>

                    <option value="Prahran">Prahran</option>

                    <option value="Stockholm">Stockholm</option>

                    <option value="NC">NC</option>

                    <option value="Venice">Venice</option>

                    <option value="Juba">Juba</option>

                    <option value="Uruguay">Uruguay</option>

                    <option value="Leh">Leh</option>

                    <option value="Los Angeles">Los Angeles</option>

                    <option value="Trondheim">Trondheim</option>

                    <option value="Cedar Rapids">Cedar Rapids</option>

                    <option value="Marysville">Marysville</option>

                    <option value="Aireys Inlet">Aireys Inlet</option>

                    <option value="au">au</option>

                    <option value="Tartu">Tartu</option>

                    <option value="Canterbury">Canterbury</option>

                    <option value="Eltham">Eltham</option>

                    <option value="Dharamsala">Dharamsala</option>

                    <option value="Norfolk Island">Norfolk Island</option>

                    <option value="Adelaide">Adelaide</option>

                    <option value="Brisbane">Brisbane</option>

                    <option value="Caylus">Caylus</option>

                    <option value="Gaza City">Gaza City</option>

                    <option value="Romania">Romania</option>

                    <option value="Arezzo">Arezzo</option>

                    <option value="Birmingham Gardens">Birmingham Gardens</option>

                    <option value="Cornwall and Isles of Scilly">Cornwall and Isles of Scilly</option>

                    <option value="Fremantle">Fremantle</option>

                    <option value="Eastwood">Eastwood</option>

                    <option value="Florence">Florence</option>

                    <option value="Elizabeth">Elizabeth</option>

                    <option value="Eaglehawk">Eaglehawk</option>

                    <option value="Hampi">Hampi</option>

                    <option value="Boston">Boston</option>

                    <option value="United Kingdom">United Kingdom</option>

                    <option value="Hobart">Hobart</option>

                    <option value="Kazakhstan">Kazakhstan</option>

                    <option value="Novi">Novi</option>

                    <option value="Northcote">Northcote</option>

                    <option value="Melton South">Melton South</option>

                    <option value="Forster">Forster</option>

                    <option value="Maracaibo">Maracaibo</option>

                    <option value="Ningbo">Ningbo</option>

                    <option value="San Pedro Pochutla">San Pedro Pochutla</option>

                    <option value="Sumba Pulau">Sumba Pulau</option>

                    <option value="Auckland &amp; Sydney">Auckland &amp; Sydney</option>

                    <option value="Devonport">Devonport</option>

                    <option value="Greece">Greece</option>

                    <option value="QLD">QLD</option>

                    <option value="Andorra">Andorra</option>

                    <option value="Bangalore">Bangalore</option>

                    <option value="Cairns">Cairns</option>

                    <option value="Greenland">Greenland</option>

                    <option value="Puerto Plata">Puerto Plata</option>

                    <option value="Wallace Rockhole">Wallace Rockhole</option>

                    <option value="Lombok">Lombok</option>

                    <option value="Indonesia">Indonesia</option>

                    <option value="Tuvalu">Tuvalu</option>

                    <option value="Rwanda">Rwanda</option>

                    <option value="Kuala Selangor">Kuala Selangor</option>

                    <option value="?">?</option>

                    <option value="Mar Del Plata">Mar Del Plata</option>

                    <option value="Perth ">Perth </option>

                    <option value="Mornington">Mornington</option>

                    <option value="Wodonga">Wodonga</option>

                    <option value="Melton">Melton</option>

                    <option value="Madrid">Madrid</option>

                    <option value="Bukit Tengah">Bukit Tengah</option>

                    <option value="Gisborne">Gisborne</option>

                    <option value="Takoradi">Takoradi</option>

                    <option value="Hornsby">Hornsby</option>

                    <option value="New Delhi">New Delhi</option>

                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>

                    <option value="LA">LA</option>

                    <option value="Thornbury ">Thornbury </option>

                    <option value="Antwerpen">Antwerpen</option>

                    <option value="Kalbarri">Kalbarri</option>

                    <option value="Slovenia">Slovenia</option>

                    <option value="Southern Sydney">Southern Sydney</option>

                    <option value="Kuwait">Kuwait</option>

                    <option value="Kolari">Kolari</option>

                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>

                    <option value="Arusha">Arusha</option>

                    <option value="Frankston ">Frankston </option>

                    <option value="Mannheim">Mannheim</option>

                    <option value="South Sydney">South Sydney</option>

                    <option value="Canberra">Canberra</option>

                    <option value="Cameroon">Cameroon</option>

                    <option value="Coolamon">Coolamon</option>

                    <option value="Port Lincoln">Port Lincoln</option>

                    <option value="DENPASAR">DENPASAR</option>

                    <option value="Gambia">Gambia</option>

                    <option value="Ballina">Ballina</option>

                    <option value="Michalovce">Michalovce</option>

                    <option value="UT">UT</option>

                    <option value="Jakarta">Jakarta</option>

                    <option value="Mackay">Mackay</option>

                    <option value="Nigeria">Nigeria</option>

                    <option value="Belgrade">Belgrade</option>

                    <option value="MI">MI</option>

                    <option value="MAPUTO">MAPUTO</option>

                    <option value="Aldinga">Aldinga</option>

                    <option value="Brunswick">Brunswick</option>

                    <option value="Carins">Carins</option>

                    <option value="Dubai">Dubai</option>

                    <option value="Earth">Earth</option>

                    <option value="Kuala Terengganu">Kuala Terengganu</option>

                    <option value="Geraldton">Geraldton</option>

                    <option value="Lhasa">Lhasa</option>

                    <option value="Reading">Reading</option>

                    <option value="Friesoythe">Friesoythe</option>

                    <option value="Mooloolaba">Mooloolaba</option>

                    <option value="NE">NE</option>

                    <option value="Uganda">Uganda</option>

                    <option value="Queenstown">Queenstown</option>

                    <option value="Toowong">Toowong</option>

                    <option value="Russian Federation">Russian Federation</option>

                    <option value="Chennai">Chennai</option>

                    <option value="Munich">Munich</option>

                    <option value="AL">AL</option>

                    <option value="Pnom Penh">Pnom Penh</option>

                    <option value="Laidley">Laidley</option>

                    <option value="Rakiraki">Rakiraki</option>

                    <option value="Dalby">Dalby</option>

                    <option value="Tel Aviv-Yafo">Tel Aviv-Yafo</option>

                    <option value="Maitland">Maitland</option>

                    <option value="San Juan">San Juan</option>

                    <option value="Cardiff">Cardiff</option>

                    <option value="Hayward">Hayward</option>

                    <option value="Mebourne">Mebourne</option>

                    <option value="Klang">Klang</option>

                    <option value="Kosovo">Kosovo</option>

                    <option value="Yarra Junction">Yarra Junction</option>

                    <option value="AB">AB</option>

                    <option value="Woodford">Woodford</option>

                    <option value="Gladstone">Gladstone</option>

                    <option value="Melaka">Melaka</option>

                    <option value="Carlsbad">Carlsbad</option>

                    <option value="Malaysia">Malaysia</option>

                    <option value="Ottawa">Ottawa</option>

                    <option value="VT">VT</option>

                    <option value="Bacchus Marsh">Bacchus Marsh</option>

                    <option value="AR">AR</option>

                    <option value="Dubbo">Dubbo</option>

                    <option value="Tarcutta">Tarcutta</option>

                    <option value="Novosibirsk">Novosibirsk</option>

                    <option value="Sheffield">Sheffield</option>

                    <option value="Burgos">Burgos</option>

                    <option value="Esperance">Esperance</option>

                    <option value="Gympie">Gympie</option>

                    <option value="Malawi">Malawi</option>

                    <option value="Goondiwindi">Goondiwindi</option>

                    <option value="Rivas">Rivas</option>

                    <option value="Kursk">Kursk</option>

                    <option value="Perth Airport">Perth Airport</option>

                    <option value="Kampala">Kampala</option>

                    <option value="Goulburn">Goulburn</option>

                    <option value="Heyfield">Heyfield</option>

                    <option value="Maningrida">Maningrida</option>

                    <option value="Congo">Congo</option>

                    <option value="Frankston">Frankston</option>

                    <option value="Hiroshima-shi">Hiroshima-shi</option>

                    <option value="Sydney/Tennant Creek">Sydney/Tennant Creek</option>

                    <option value="Mumbai">Mumbai</option>

                    <option value="Fez">Fez</option>

                    <option value="Iquitos">Iquitos</option>

                    <option value="Broken Hill">Broken Hill</option>

                    <option value="OH">OH</option>

                    <option value="NSW">NSW</option>

                    <option value="Blackburn">Blackburn</option>

                    <option value="Deniliquin">Deniliquin</option>

                    <option value="Hahndorf">Hahndorf</option>

                    <option value="Poland">Poland</option>

                    <option value="NV">NV</option>

                    <option value="Launceston">Launceston</option>

                    <option value="Santa Monica">Santa Monica</option>

                    <option value="Honduras">Honduras</option>

                    <option value="Roswell">Roswell</option>

                    <option value="Staverton">Staverton</option>

                    <option value="Menindee">Menindee</option>

                    <option value="Ourimbah">Ourimbah</option>

                    <option value="Paraguay">Paraguay</option>

                    <option value="melbourne">melbourne</option>

                    <option value="Bali">Bali</option>

                    <option value="TN">TN</option>

                    <option value="SD">SD</option>

                    <option value="Hermosillo">Hermosillo</option>

                    <option value="Oporto">Oporto</option>

                    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>

                    <option value="Sao Paulo">Sao Paulo</option>

                    <option value="Betong">Betong</option>

                    <option value="Grampians">Grampians</option>

                    <option value="Winter Park">Winter Park</option>

                    <option value="Caboolture">Caboolture</option>

                    <option value="Cadiz">Cadiz</option>

                    <option value="Miami">Miami</option>

                    <option value="Penrith">Penrith</option>

                    <option value="Corowa">Corowa</option>

                    <option value="St.-Gédéon">St.-Gédéon</option>

                    <option value="Norway">Norway</option>

                    <option value="Bulgaria">Bulgaria</option>

                    <option value="Fiji">Fiji</option>

                    <option value="Nelspruit">Nelspruit</option>

                    <option value="London">London</option>

                    <option value="Nagambie">Nagambie</option>

                    <option value="Puerto Princesa">Puerto Princesa</option>

                    <option value="FNQ &amp; SE Asia">FNQ &amp; SE Asia</option>

                    <option value="Madagascar">Madagascar</option>

                    <option value="Lakeland">Lakeland</option>

                    <option value="Cebu">Cebu</option>

                    <option value="Colombia">Colombia</option>

                    <option value="Japan">Japan</option>

                    <option value="Pointe-Noire">Pointe-Noire</option>

                    <option value="Margate">Margate</option>

                    <option value="Collingwood">Collingwood</option>

                    <option value="Albertville">Albertville</option>

                    <option value="Barham">Barham</option>

                    <option value="Buenos Aires">Buenos Aires</option>

                    <option value="Nepal">Nepal</option>

                    <option value="Denmark">Denmark</option>

                    <option value="Strathfield">Strathfield</option>

                    <option value="Mareeba">Mareeba</option>

                    <option value="Nambucca Heads">Nambucca Heads</option>

                    <option value="Springwood">Springwood</option>

                    <option value="Goroka">Goroka</option>

                    <option value="Cartagena">Cartagena</option>

                    <option value="Nara-shi">Nara-shi</option>

                    <option value="Narre Warren">Narre Warren</option>

                    <option value="Ipswich">Ipswich</option>

                    <option value="Yarraville">Yarraville</option>

                    <option value="MELBOURNE">MELBOURNE</option>

                    <option value="Swaziland">Swaziland</option>

                    <option value="Auckland">Auckland</option>

                    <option value="Western Sydney">Western Sydney</option>

                    <option value="Koidu">Koidu</option>

                    <option value="Tasmania">Tasmania</option>

                    <option value="Dominican Republic">Dominican Republic</option>

                    <option value="Lennox Head">Lennox Head</option>

                    <option value="Utila">Utila</option>

                    <option value="Shenzhen">Shenzhen</option>

                    <option value="Selangor">Selangor</option>

                    <option value="Frome">Frome</option>

                    <option value="Cheras">Cheras</option>

                    <option value="Young">Young</option>

                    <option value="Scottsdale">Scottsdale</option>

                    <option value="Nicaragua">Nicaragua</option>

                    <option value="Krabi">Krabi</option>

                    <option value="Victor Harbor">Victor Harbor</option>

                    <option value="Gdansk">Gdansk</option>

                    <option value="Mzuzu">Mzuzu</option>

                    <option value="KY">KY</option>

                    <option value="Ghana">Ghana</option>

                    <option value="Cooroy">Cooroy</option>

                    <option value="Banff">Banff</option>

                    <option value="VA">VA</option>

                    <option value="Purworejo">Purworejo</option>

                    <option value="Marki">Marki</option>

                    <option value="Chile">Chile</option>

                    <option value="Ballymoney">Ballymoney</option>

                    <option value="Penang Island">Penang Island</option>

                    <option value="McLaren Vale">McLaren Vale</option>

                    <option value="Mentone">Mentone</option>

                    <option value="Botswana">Botswana</option>

                    <option value="Yishun New Town">Yishun New Town</option>

                    <option value="Finland">Finland</option>

                    <option value="Wollongong Australia ">Wollongong Australia </option>

                    <option value="MA">MA</option>

                    <option value="TX">TX</option>

                    <option value="Belgorod">Belgorod</option>

                    <option value="Gulf Shores">Gulf Shores</option>

                    <option value="Christchurch">Christchurch</option>

                    <option value="Coolum">Coolum</option>

                    <option value="Thailand">Thailand</option>

                    <option value="Orange">Orange</option>

                    <option value="AU">AU</option>

                    <option value="Vanuatu">Vanuatu</option>

                    <option value="Amsterdam">Amsterdam</option>

                    <option value="AK">AK</option>

                    <option value="Townsville">Townsville</option>

                    <option value="Modena">Modena</option>

                    <option value="Caracas">Caracas</option>

                    <option value="MO">MO</option>

                    <option value="Robinvale">Robinvale</option>

                    <option value="HI">HI</option>

                    <option value="to Berlin">to Berlin</option>

                    <option value="Bergen">Bergen</option>

                    <option value="Oslo">Oslo</option>

                    <option value="Phuket">Phuket</option>

                    <option value="Bunbury">Bunbury</option>

                    <option value="Liberia">Liberia</option>

                    <option value="Redcliffe">Redcliffe</option>

                    <option value="China">China</option>

                    <option value="Moldova">Moldova</option>

                    <option value="Kupang">Kupang</option>

                    <option value="Granada">Granada</option>

                    <option value="Chicago">Chicago</option>

                    <option value="Nainital">Nainital</option>

                    <option value="Wanneroo">Wanneroo</option>

                    <option value="Abberley">Abberley</option>

                    <option value="Moldova, Republic of">Moldova, Republic of</option>

                    <option value="Bonriki">Bonriki</option>

                    <option value="Tweed Heads">Tweed Heads</option>

                    <option value="Bathurst">Bathurst</option>

                    <option value="Lismore">Lismore</option>

                    <option value="Pakistan">Pakistan</option>

                    <option value="Veliko Turnovo">Veliko Turnovo</option>

                    <option value="Armenia">Armenia</option>

                    <option value="Chengdu">Chengdu</option>

                    <option value="Toronto">Toronto</option>

                    <option value="Guam">Guam</option>

                    <option value="Port-Vila">Port-Vila</option>

                    <option value="NH">NH</option>

                    <option value="Kathmandu">Kathmandu</option>

                    <option value="Sydney/Tokyo">Sydney/Tokyo</option>

                    <option value="Mildura">Mildura</option>

                    <option value="Belgium">Belgium</option>

                    <option value="Bolivia">Bolivia</option>

                    <option value="Melbourne/Sydney">Melbourne/Sydney</option>

                    <option value="Brampton">Brampton</option>

                    <option value="Java">Java</option>

                    <option value="Praha">Praha</option>

                    <option value="Slovenska Bistrica">Slovenska Bistrica</option>

                    <option value="Lillian Rock">Lillian Rock</option>

                    <option value="ID">ID</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
