﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Crowford</title>

    <link rel="shortcut icon" href="" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />


<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}"/>

    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
	<header>
        <h1>Crowford - Crowdfunding Data Portal</h1>
        <h2>This data portal contains projects from kickstarter, indiegogo and pozible that are predicted as either successful or unsuccessful</h2> 
	</header>

	<section id="main_content">
		{% block content %}
		{% endblock %}
	</section>

	<footer>
	  <p>Copyright 2042 @ Group 13 - Kevin LABBE | Julien THOMPSON | Karina MARTYNAVA</p>
	</footer>
  </body>
</html>
